.wrapper {
    padding-top: 30px;
}

.reservation {
    color: #707070;
    font-size: 1.2rem;
    text-align: center;
}

.reservation-list {
    color: #707070;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.schedules {
    margin-top: 20px;
}

.seat {
    margin-top: 20px;
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ticket-area {
    border: #b8b5b5 solid 1px;
    border-radius: 8px;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.under-area {
    display: flex;
    justify-content: center;
}

.back {
    background-color: #e4dede;
    text-align: center;
    width: 180px;
    height: 48px;
    margin-right: 25px;
}

.back a {
    color: #707070;
    font-size: 16px;
    text-decoration: none;
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}

.next {
    background-color: #f5ae0b;
    text-align: center;
    width: 180px;
    height: 48px;
    margin-right: 25px;
}

.next a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}

.under-area button:last-child {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    background-color: #f5ae0b;
    border: 3px solid #f5ae0b;
    width: 180px;
    height: 48px;
    cursor: pointer;
}

.error {
    margin-top: 15px;
    text-align: center;
    color: red;
    font-size: 0.9rem;
}

.schedules span {
    color: #707070;
}

.seat span {
    color: #707070;
}
