body{
	min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
	position: relative;/* ←相対位置 */
	padding-bottom: 60px; /* ←フッターの高さを指定 */
	background-color: #EBEBEB;
}
/* 背景 */
.container {
	position: relative;
	font-family: 'Noto Sans JP', sans-serif;
	width: 100%;
	vertical-align: middle;
	padding-bottom: 279px;
	padding-top: 72px;
	margin-bottom: 0;
	opacity: 1;
}

article {
	width: 820px;
	margin: 0 auto;
}

section {
	width: 820px;
	height: 290px;
	margin-bottom: 70px;
}

.top-image img {
	width: 820px;
	height: 290px;
}

section h2 {
	height: 40px;
	line-height: 40px;
	border-left: solid 7px orange;
	padding-left: 10px;
	margin-bottom: 15px;
}

.middle-flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.middle-image img {
	width: 260px;
	height: 150px;
}

.middle, .bottom {
	position: relative;
}

.button {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -90%);
	text-decoration: none;
	color: white;
	background-color: #FBC119;
	padding: 10px 80px;
	border-radius: 2px;
}

.button:hover {
	box-shadow: 0 2px 5px gray;
	transform: translate(-50%, -90%);
}

.bottom-flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.bottom-image img {
	width: 400px;
	height: 70px;
	margin-bottom: 15px;
}
